/*.page {
  &__title {
    position: relative;
  }

  &__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: -23px;
    width: 2px;
    height: 40px;
    border: 4px solid #41f6d7;
    border-radius: 10px;
  }

  &__navigation {
    position: relative;
    margin-right: -18px;
    margin-top: 18px;
  }
  &__navigation::after {
    content: "";
    position: absolute;
    top: 0;
    right: -2px;
    width: 30px;
    height: 57px;
    background-image: linear-gradient(to right, transparent 60%, #f8f8f8 100%);
    z-index: 10;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.title {
  font-family: TT Lakes Bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  text-align: left;
  color: #1b1c21;
}
.menu {
  &__list {
    display: flex;
    overflow-y: scroll;
    justify-content: flex-start;
  }
  &__list::-webkit-scrollbar {
    width: 0;
  }

  &__item {
    font-family: TT Lakes Medium;
    font-size: 16px;
    line-height: 24px;
  }

  &__link {
    display: inline-block;
    white-space: nowrap;
    color: #7e7e82;
    padding: 8px 16px;
  }
  &__link:active,
  &__link:hover {
    background-color: #ffffff;
    box-shadow: inset 0 0 0 2px #b8ffec;
    border-radius: 5px;
  }
}
.section {
  &__text-container {
    height: 90px;
    overflow: hidden;
    margin-bottom: 16px;
    max-width: 312px;
    flex-basis: 50%;
  }

  &__text {
    display: inline-block;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    text-align: left;
    margin-bottom: 20px;
  }

  &__button {
    display: inline-block;
    color: #1b1c21;
    font-family: TT Lakes Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-align: left;
    padding-left: 32px;
    background: url("../img/expand-icon.svg") no-repeat;
    margin-bottom: 16px;
  }

  &__img-block {
    flex-basis: 50%;
  }
  &__img {
    width: 500px;
  }
}*/
.nav__header {
  position: relative;
  margin-top: 24px;
}

.nav__header::before {
  position: absolute;
  left: -17px;
  content: "";
  width: 0px;
  height: 40px;
  border: 2px solid #41f6d7;
  border-radius: 10px;
}

.nav__title {
  position: relative;
  font-family: TT Lakes Bold;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  text-align: left;
  color: #1b1c21;
}

.slider {
  margin-top: 32px;
  overflow-y: auto;
  margin-right: -16px;
}

.slider__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.slider__list::after {
  content: "";
  position: fixed;
  top: 176px;
  right: -2px;
  width: 30px;
  height: 57px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, transparent), color-stop(90%, #f8f8f8));
  background-image: linear-gradient(to right, transparent 30%, #f8f8f8 90%);
  z-index: 10;
}

.slider__item {
  padding: 8px 16px;
  white-space: nowrap;
}

.slider__link {
  line-height: 24px;
  font-family: TT Lakes Medium;
  color: #7e7e82;
  font-size: 16px;
  letter-spacing: -0.2 px;
}

.slider__item:hover, .slider__item:active {
  background-color: #fff;
  -webkit-box-shadow: inset 0 0 0 2px #b8ffec;
          box-shadow: inset 0 0 0 2px #b8ffec;
  border-radius: 5px;
}

.slider::-webkit-scrollbar {
  width: 0;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-text {
  margin-top: 16px;
}

.section-text__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 90px;
  overflow: hidden;
}

.section-text__text {
  padding-bottom: 20px;
  line-height: 18px;
  font-size: 14px;
  letter-spacing: 0.2px;
}

.section-text__button {
  position: relative;
  display: inline-block;
  font-family: TT Lakes Medium;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
  width: 132px;
  text-align: end;
  background: url("../img/expand-icon.svg") no-repeat;
}

.section-img {
  margin-top: 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.section-img__img {
  display: block;
  width: 100%;
}
