.header {
  background-color: #fff;
  border-bottom: 2px solid #d9fff5;
  &__container {
    padding: 16px;
  }
}

.upper-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  &__block-1 {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 16px;
  }

  &__item-burger {
    position: relative;
  }

  &__item-logo {
    font-size: 0;
  }

  &__block-2 {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    display: flex;
    gap: 16px;
  }

  &__block-3 {
    display: flex;
    align-items: center;

    margin-bottom: 5px;
    gap: 16px;
  }
  &__block-3::before {
    content: "";
    width: 0;
    height: 32px;
    border: 1px solid #eaeaea;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__link-text {
    font-family: TT Lakes Medium;
  }
}
